<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
	</head>
	<style>
		.button:hover
		{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
		}
		input[type=text], select {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}
	</style>
	<body>
	<div class="vh-100" style="background-color: #0b2b7a;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;text-align:center">
			<div id = "image">
			  <img src="/static/images/UTA.jpeg" style="width=100px;height:100px;">
		  </div>
			<div class="header">
				<h2 class="word" align="center">Student Discussion Board</h2>
			</div>
			<div class="header">
				<h3 class="word" align="center">Register</h3>
			</div>
				<form class="col-lg-6 offset-lg-3 " action="{{ url_for('registration') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<div class="row justify-content-center">
					<input class="form-control" id="userid" name="userid" type="text" placeholder="UserId" class="textbox" required/></br></br>
					<input class="form-control" id="password" name="password" type="password" placeholder="Password" class="textbox" required/></br></br>
					<input class="form-control" id="email" name="email" type="text" placeholder="Email ID" class="textbox" required/></br></br>
<!--					<select class="form-control" name="usertype" id="usertype">-->
<!--						<option value=1>User</option>-->
<!--						<option value=2>Administrator</option>-->
<!--					</select></br></br>-->
					<button type="submit" class="btn btn-primary button">Register</button></br>
					</div></form>
	<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div></div></div>
  </div></div>
	</body>
</html>
